@{
    ViewData["Title"] = "Index";
}
<body>
    <section class= "Comienzo"> 
<div>
    
    <p>presione<a href='@Url.Action("JugarLetra", "Home")' alt > AQUI</a> para comenzar a jugar</p>

</div>

</section>

<footer>
    <h4>Tp hecho por Santi Hong, Santi Choe y Diana Park</h4>
</footer>
</body>


